# SUPABASE_PUBLISHABLE_KEY="sb_p..................."
# SUPABASE_URL="https://.......................supabase.co"
# VITE_SUPABASE_PROJECT_ID="......................."
# VITE_SUPABASE_PUBLISHABLE_KEY="sb_p..................."
# VITE_SUPABASE_URL="https://.......................supabase.co"
# SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOi................"
